<nav class="navbar">
  <div class="container">
    <a href="/" class="logo">SHARESKILL</a>
    <button class="toggle">&#9776;</button>
    <ul class="nav-links">
      <li><a href="/inscription">Inscription</a></li>
      <li><a href="/connexion">Connexion</a></li>
      <li><a href="/competences">Compétences</a></li>
    </ul>
  </div>
</nav>