@use "../abstracts/variables" as *;
/* Appliquer box-sizing pour une gestion correcte des dimensions
Pour les formulaires essentiellement
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

button a {
  text-decoration: none;
}

body {
  background: #f5f7fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: large;
  text-align: center;
}
