@use "../abstracts/variables" as *;
/* Appliquer box-sizing pour une gestion correcte des dimensions
Pour les formulaires essentiellement
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

button a {
  text-decoration: none;
}

body {
  background: #f5f7fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: large;
  text-align: center;
}

// .message-container,
// .access-messages {
//   max-width: 400px;
//   margin: $spacing-xl auto;
//   padding: $spacing-xl;
//   background: $gray-100;
//   border: 1px solid $gray-300;
//   border-radius: $border-raduis-lg;
//   text-align: center;
// }

// #verify-msg,
// #access-msg {
//   margin-bottom: $spacing-md;
// }
