<!-- si traitement fichier => enctype="multipart/form-data" => new FormData() -->
<form id="register-form" method="POST" action="" enctype="multipart/form-data">
  <input type="hidden" id="api-url" value="<%= typeof API_URL !== 'undefined' ? API_URL : '' %>">
  <div class="form-group">
    <label for="username">Nom d'utilisateur</label>
    <input type="text" class="form-control" id="username" name="username" />
    <span class="error" data-error="username"></span>
  </div>

  <div class="form-group">
    <label for="email">Adresse email</label>
    <input type="text" autocomplete="username" class="form-control" id="email" name="email" />
    <span class="error" data-error="email"></span>
  </div>

  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" autocomplete="current-password" class="form-control" id="password" name="password" />
    <span class="error" data-error="password"></span>
  </div>

  <div class="form-group">
    <label for="avatar">Avatar (image JPG/PNG)</label>
    <input type="file" class="form-control" id="avatar" name="avatar" accept="image/png, image/jpeg" />
    <span class="error" data-error="avatar"></span>
  </div>

  <button type="submit" class="btn btn-primary mt-3">S'inscrire</button>
</form>